body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
    margin: 0;
}

.mangaContent {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 90%; 
    max-width: 300px;
}

.mangaContent:hover {
    transform: scale(1.05);
    opacity: 75%;
    cursor: pointer;
}

.imgcon img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#mangalist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.description {
    padding: 15px;
}

.title {
    margin: 0;
    font-size: 23px;
    color: #333;
    text-align: center;
}

p {
    margin: 15px 0 0;
    font-size: 14px;
    color: #666;
    width: auto;
    text-align: center;
    /* display: none; */

}

h1 {
    text-align: center;
    color: #e4d33b;
}


#generate {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#generate:hover {
    background-color: #45a049;
}

#details {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #666;
}


#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}



#offset,
#limit {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

/* .modal {

    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

} 

.modal-content {

    width: 100%;
    height: 25%;
    margin: 5vh;
    padding: 10vh;
    margin-top: 10vh;
    background-color: #000;
    border: 1px solid #888;
} */

